<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-black1 text-white">
 <header class="bg-orange  text-center py-4 flex justify-center items-center">
        <img src="/img/LogoNav.png" alt="Logo e marketing do sistema" class="w-24 h-24 mr-4">
        <nav class="flex justify-center space-x-4 mt-4">
            <a href="/" class="hover:underline">Home</a>
            <a href="/Cadastrar" class="hover:underline">Cadastrar</a>
            <a href="/Listar" class="hover:underline">Listar</a>
            <a href="/QuemSomos" class="hover:underline">Quem Somos</a>
            <a href="/Deslogar" class="hover:underline">Deslogar</a>
        </nav>
    </header>

    <main class="container mx-auto py-16 text-white">
    <div class="flex justify-center"> 
        <img src="/img/RegisterPerson.png" alt="Logo e marketing do sistema" class="">
    </div>
    </main>

    <footer class="bg-orange text-white text-center py-4">
        <p class="text-white">®Desenvolvido para Estudo</p>
    </footer>
</body>
</html>