<table class="bg-orange max-w-full mx-auto p-6 rounded-lg shadow-md">
  {{!-- <h2 class="text-2xl font-bold">Listar Pessoas</h2> --}}
  <thead>
    <tr>
      <th scope="col" class="px-6 py-3">Nome</th>
      <th scope="col" class="px-6 py-3">Idade</th>
      <th scope="col" class="px-6 py-3">Sexo</th>
      <th scope="col" class="px-6 py-3">CEP</th>
      <th scope="col" class="px-6 py-3">Endereço</th>
      <th scope="col" class="px-6 py-3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-6 py-4">João da Silva</td>
      <td class="px-6 py-4">30</td>
      <td class="px-6 py-4">Masculino</td>
      <td class="px-6 py-4">12345-678</td>
      <td class="px-6 py-4">Av. José Carlos</td>
      <td class="px-6 py-4">
        <div class="flex space-x-1">
          <a href="/"
            class="bg-colorbutton hover:bg-blue-700 text-white font-bold py-1 px-4 rounded shadow-inner shadow-md">Editar</a>
          <a href="/"
            class="bg-colorbutton hover:bg-blue-700 text-white font-bold py-1 px-4 rounded shadow-inner shadow-md">Excluir</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>