<script type="module" src="/javascripts/listar.js"></script>
<table class="bg-orange max-w-full mx-auto p-6 rounded-lg shadow-md" id="table">
  {{!-- <h2 class="text-2xl font-bold">Listar Pessoas</h2> --}}
  <thead>
    <tr>
      <th scope="col" class="px-6 py-3">Nome</th>
      <th scope="col" class="px-6 py-3">Idade</th>
      <th scope="col" class="px-6 py-3">Sexo</th>
      <th scope="col" class="px-6 py-3">CEP</th>
      <th scope="col" class="px-6 py-3">Endereço</th>
      <th scope="col" class="px-6 py-3">Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>