<script type="module" src="/javascripts/logar.js"></script>
<div class="max-w-md mx-auto p-6 rounded-lg shadow-md bg-orange">
    <h1 class="text-2xl font-bold mb-6">Cadastro Pessoal</h1>
    <form class="bg-range">
        <div class="mb-4">
            <div class="mb-4">
                {{!-- usuario --}}
                <label for="usuario" class="block text-white">Usuário</label>
                <input type="text" id="email" class="w-96 px-3 py-1 border rounded-md bg-white text-black"><br>
            </div>
            {{!-- senha --}}
            <div class="mb-4">
                <label for="senha" class="block text-white">Senha</label>
                <input type="text" id="password" class="w-64 px-3 py-1 border rounded-md bg-white text-black"><br>
            </div>
            <a href="/registrar" class="border-b">Não possui cadastro?</a>
        </div>
        <button type="button" class="bg-colorbutton text-white font-bold py-1 px-4 rounded shadow-inner shadow-md" id="logar">LOGAR</button>
    </form>
</div>