<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/output.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-black1 text-white min-h-screen">
    <header class="bg-orange py-4 text-left flex items-start sm:items-center sm:justify-center flex-col sm:flex-row">
        <img src="/imges/LogoNav.png" alt="Logo e marketing do sistema" class="w-24 h-24 mr-4">
        <nav class="flex justify-start mt-4 flex-col sm:flex-row ">
            <a href="/" class="hover:underline mx-3">Home</a>
            <a href="/Cadastrar" class="hover:underline mx-3">Cadastrar</a>
            <a href="/Listar" class="hover:underline mx-3">Listar</a>
            <a href="/QuemSomos" class="hover:underline mx-3">Quem Somos</a>
            <a href="/Deslogar" class="hover:underline mx-3" disabled id="deslogar">Deslogar</a>
        </nav>
    </header>

    <main class="container mx-auto py-8 text-white h-full min-h-screen">

        {{{body}}}
    </main>

    <footer class="bg-orange text-white text-center py-4">
        <p class="text-white">®Desenvolvido para Estudo</p>
    </footer>
</body>

</html>