<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-black1 text-white">
 <header class="bg-orange  text-center py-4 flex justify-center items-center">
        <img src="/img/LogoNav.png" alt="Logo e marketing do sistema" class="w-24 h-24 mr-4">
        <nav class="flex justify-center space-x-4 mt-4">
            <a href="/" class="hover:underline">Home</a>
            <a href="/Cadastrar" class="hover:underline">Cadastrar</a>
            <a href="/Listar" class="hover:underline">Listar</a>
            <a href="/QuemSomos" class="hover:underline">Quem Somos</a>
            <a href="/Deslogar" class="hover:underline">Deslogar</a>
        </nav>
    </header>

    <main class="container mx-auto py-8 text-white w-[75%]">

    <div class="bg-orange w-[80%] mx-auto bg-white rounded-lg shadow-md grid grid-rows-4 items-stretch pr-6 pl-6 pt-6 pb-2"> 
        <div class="grid justify-items-center mb-0 mt-0 p-0">
            <h1 class="text-2xl font-bold mb-0 mt-0 p-0">Integrantes</h1>
        </div>

        <div class="grid grid-rows-2 grid-cols-3 justify-items-center mb-0 mt-0">
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/img/Beatriz.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Beatriz AparecidaDo Valle Martins</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/img/Daniel.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Daniel de Souza Rufino</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/img/Gabriel.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Gabriel Lima Freire</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/img/Guilherme.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Guilherme Rafael Figueiredo Pereira</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/img/Marcela.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Marcela Aparecida de Almeida</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/img/Raissa.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Raissa Santos Ramos</div>
            </div> 
        </div>

        <div class="grid justify-items-center mb-0 mt-0">
            <h1 class="text-2xl font-bold mb-0">Sobre o Projeto</h1>
        </div>
        <div class="grid grid-cols-2">
            <div>
                O Register People é um sistema de cadastro criado
                 para a atividade interdisciplinar dos cursos de
                 Técnicas Avançadas de Programação (TAP) e
                 Técnicas Avançadas de Banco de Dados (TABD). O
                 projeto visa explorar e aplicar conceitos de bancos
                 de dados não relacionais (NoSQL), analisando suas
                 vantagens e desvantagens em comparação com
                 bancos relacionais tradicionais. Através deste
                 sistema, buscamos entender melhor como os
                 bancos NoSQL podem ser usados para gerenciar
                 dados de forma eficiente e escalável.
            </div>
            <div class="grid justify-items-center">
                <img src="/img/LogoNav.png" alt="Logo e marketing do sistema">
            </div>
        </div>
    </div>
    
  </div>
</main>

    <footer class="bg-orange text-white text-center py-4">
        <p class="text-white">®Desenvolvido para Estudo</p>
    </footer>
</body>
</html>