
    <div class="bg-orange mx-auto rounded-lg shadow-md grid items-stretch pr-6 pl-6 pt-6 pb-2 gap-2"> 
        <div class="grid grid-cols-3 justify-items-center mb-0 mt-0 gap-2">
            <h1 class="text-2xl font-bold mb-0 mt-0 p-0 text-center col-span-3">Integrantes</h1>
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/images/Beatriz.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Beatriz AparecidaDo Valle Martins</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/images/Daniel.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Daniel de Souza Rufino</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/images/Gabriel.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Gabriel Lima Freire</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/images/Guilherme.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Guilherme Rafael Figueiredo Pereira</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/images/Marcela.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Marcela Aparecida de Almeida</div>
            </div> 
            <div class="gid grid-rows-2 justify-items-center">
                <div class="grid justify-items-center"><img src="/images/Raissa.png" alt="Aluno" class="w-32 h-32 mr-4"></div>
                <div class="grid justify-items-center">Raissa Santos Ramos</div>
            </div> 
        </div>        
        <div class="grid grid-cols-2 gap-5">
             <h1 class="text-2xl font-bold mb-0 text-center col-span-3 ">Sobre o Projeto</h1>
            <div>
                O Register People é um sistema de cadastro criado
                 para a atividade interdisciplinar dos cursos de
                 Técnicas Avançadas de Programação (TAP) e
                 Técnicas Avançadas de Banco de Dados (TABD). O
                 projeto visa explorar e aplicar conceitos de bancos
                 de dados não relacionais (NoSQL), analisando suas
                 vantagens e desvantagens em comparação com
                 bancos relacionais tradicionais. Através deste
                 sistema, buscamos entender melhor como os
                 bancos NoSQL podem ser usados para gerenciar
                 dados de forma eficiente e escalável.
            </div>
            <div class="grid justify-items-center">
                <img src="/images/LogoNav.png" alt="Logo e marketing do sistema">
            </div>
        </div>
    </div>
    
  </div>