<table>
    <thead>
        <tr>
            <td>Tipo</td>
            <td>Tempo</td>
        </tr>
    </thead>
    <tbody>
         {{#each tempos}}
         <tr>
            <td>{{tipo}}</td>
            <td>{{time}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>